.login-button {
  font-size: 18px;
  margin-top: 12px;
  text-align: center;
}

.input-box {
  background-color: white !important;
}

.login-template {
  margin-top: 250px;
}

input {
    font-size: 15px;
    margin-left: 4px;
}